<html>
  <head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    <style>
      body{
            background-image: url(https://i.postimg.cc/YSgCg909/mare2.jpg);
            background-size: cover;
          }
    </style>
 <body>
  {% include "menu_notAuth.html" %}
    <div class="container" style="margin-top: 12%;">
      <div class="row">
        <div class="col text-center">
          <form action="" method="POST">
            {{ form.hidden_tag() }}
            <dl>
            {% for field in form.display %}
            <dt><h5 >{{ form[field].label }}</h5></dt>
            <dd>{{ form[field]() }}</dd>
              {% if form[field].errors %}
                  {% for e in form[field].errors %}
                  <p class="help-block">{{ e }}</p>
                  {% endfor %}
              {% endif %}
            {% endfor %}
            </dl>
            <p>
              <button type="submit" class="btn" style="background-color: 175D7E; color: aliceblue;">Log in</button>
          </form>
        </div>
      </div>
    </div>  
 </body>
</html>
