<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFFFFF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://i.postimg.cc/02vWGMHK/logo.jpg" width="30" height="30"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/users">User List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/message/recipients">New Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Outbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Drafts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>