<html>

<head>
  <title>Send a message</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      background-image: url(https://i.postimg.cc/YSgCg909/mare2.jpg);
      background-size: cover;
    }
  </style>
</head>

<body>

  {% include "menu.html" %}

  <div class="container mt-4">
    {% if message_ok %}
    <div class="alert alert-success alert-dismissible fade show pt-3" role="alert">
      Message sent correctly!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
    {% if recipient_error_list %}
      {% for recipient in recipient_error_list %}
        <div class="alert alert-danger alert-dismissible fade show pt-3" role="alert">
          Unable to send bottle to '{{ recipient }}'
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {%endif%}

    {% if (("message_id" in form) and (not forward == True)) %}
    <form action='/message/send/{{form["message_id"]}}' method='POST' enctype=multipart/form-data>
      {% else %}
      <form action='/message/send' method='POST' enctype=multipart/form-data>
        {% endif %}
        <div class="form-group ">
          <label for="email">Recipient: </label>
          {% if reply %}
          <input required value='{{reply}}' name="receiver" id="receiver" />
          {% else %}
          <input required value='{{form["recipient"]}}' name="receiver" placeholder="Enter email" id="receiver" size="50" />
          {% endif %}
        </div>

        <div class="form-group ">
          <label for="party">Enter a delivery time</label>
          <input required value='{{form["date"]}}' id="date" type="datetime-local" name="date"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
        </div>


        <div class="form-group">
          <textarea required class="form-control" rows="7" id="comment" name="text"
            placeholder="Insert text here...">{{form["text"]}}</textarea>
        </div>


        <button type="Submit" value="submit" class="btn" style="background-color: 92C991">Send</button>
        <input type="file" id="files" name="files" multiple>
        {% if "message_id" in form%}
        <a href="/message/recipients/{{form['message_id']}}" class="btn"
          style="background-color: #E5BE6B;margin-bottom: 1.5px;float: right; ">Choose recipient</a>
        {% else %}
        <a href="/message/recipients" class="btn"
          style="background-color: #E5BE6B;margin-bottom: 1.5px;float: right; ">Choose recipient</a>
        {% endif %}
        <button type="Submit" name="draft" formaction="/draft" class="btn"
          style="background-color: 175D7E; margin-bottom: 1.5px; color: aliceblue; float:right;margin-right: 5px;">
          Draft
        </button>

      </form>
  </div>
</body>

</html>